<ion-view view-title="首页"  hide-nav-bar="true">
  <ion-content>
    <div class="bar bar-header nobg">
      <button class="button button-icon icon ion-ios-search"></button>
      <h1 class="title"></h1>
      <button class="button button-icon icon ion-ios-close-outline" ng-click="openPop($event)"></button>
    </div>
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="3000" show-pager="true" on-slide-changed="chaPage()">
      <ion-slide ng-repeat="ads in adslist">
        <div class="homeL">
          <img ng-src="http://localhost/travel-server{{ads.picurl}}" />
        </div>
      </ion-slide>
    </ion-slide-box>
    <ul class="row row-wrap home-obj">
      <li class="col col-25" ui-sref="tabs.sights">
        <i class="home-obj1"></i>
        <span>景点</span>
      </li>
      <li class="col col-25" ui-sref="tabs.hotel">
        <i class="home-obj2"></i>
        <span>酒店</span>
      </li>
      <li class="col col-25">
        <i class="home-obj3"></i>
        <span>美食</span>
      </li>
      <li class="col col-25">
        <i class="home-obj4"></i>
        <span>游记</span>
      </li>
      <li class="col col-25">
        <i class="home-obj5"></i>
        <span>攻略</span>
      </li>
      <li class="col col-25">
        <i class="home-obj6"></i>
        <span>目的地</span>
      </li>
      <li class="col col-25">
        <i class="home-obj7"></i>
        <span>车票</span>
      </li>
      <li class="col col-25">
        <i class="home-obj8"></i>
        <span>农家乐</span>
      </li>
    </ul>
  </ion-content>
</ion-view>