<ion-modal-view>
	<ion-header-bar align-title="center" class="bar-assertive">
	    <div class="buttons">
	    	<button class="button icon ion-ios-arrow-back button-clear" ng-click="closesetting()">返回</button>
	    </div>
	    <h1 class="title">设置</h1>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item>
				<div class="item-button-right item-icon-left">
					<i class="icon ion-ios-person-outline"></i>
				    <span class="font-bold">账号与安全</span>
				    <button class="button button-clear">
				        <i class="icon ion-ios-arrow-forward gray"></i>
				    </button>
			    </div>
			</ion-item>
			<ion-item>
				<div class="item-button-right item-icon-left">
					<i class="icon ion-ios-locked-outline"></i>
				    <span class="font-bold">本地口令</span>
				    <button class="button button-clear">
				        <i class="icon ion-ios-arrow-forward gray"></i>
				    </button>
			    </div>
			</ion-item>
			<ion-item class="item-divider">个人账本设置</ion-item>
			<ion-item class="item-toggle">
				<div class="item-button-right item-icon-left">
					<i class="icon ion-ios-color-wand-outline"></i>
				    <span class="font-bold">智能记账</span>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
			    </div>
			</ion-item>
			<ion-item class="item-toggle">
				<div class="item-button-right item-icon-left">
					<i class="icon ion-ios-alarm-outline"></i>
				    <span class="font-bold">记账提醒</span>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
			    </div>
			</ion-item>
			<ion-item>
				<div class="item-button-right item-icon-left">
					<i class="icon ion-ios-calculator-outline"></i>
				    <span class="font-bold">汇率</span>
				    <button class="button button-clear">
				        <i class="icon ion-ios-arrow-forward gray"></i>
				    </button>
			    </div>
			</ion-item>
			<ion-item>
				<div class="item-button-right item-icon-left">
					<i class="icon ion-ios-gear-outline"></i>
				    <span class="font-bold">更多设置</span>
				    <button class="button button-clear">
				        <i class="icon ion-ios-arrow-forward gray"></i>
				    </button>
			    </div>
			</ion-item>
			<ion-item  class="mtb15">
				<div class="item-button-right item-icon-left">
					<i class="icon ion-ios-lightbulb-outline"></i>
				    <span class="font-bold">关于我们</span>
				    <button class="button button-clear">
				        <i class="icon ion-ios-arrow-forward gray"></i>
				    </button>
			    </div>
			</ion-item>
			
		</ion-list>
		<button class="button button-block button-assertive" ng-click="signOut()">退出</button>
	</ion-content>
</ion-modal-view>
